#root {
    margin: 0 auto;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px
    }
}