:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  background-color: transparent;
  color: #007bff;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button,
input {
    overflow: visible;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    /*width: 100%*/
}
.col-cus-3 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-cus-4 {
    flex: 0 0 25%;
    max-width: 25%
}

.col-cus-5 {
    flex: 0 0 20%;
    max-width: 20%
}

.col-cus-6 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%
}

.col-cus-7 {
    flex: 0 0 14.2857142857%;
    max-width: 14.2857142857%
}

.col-cus-8 {
    flex: 0 0 12.5%;
    max-width: 12.5%
}

.col-cus-10 {
    flex: 0 0 10%;
    max-width: 10%
}

.col-cus-11 {
    flex: 0 0 9.0909090909%;
    max-width: 9.0909090909%
}

.col-cus-12 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%
}

.col-cus-13 {
    flex: 0 0 7.6923076923%;
    max-width: 7.6923076923%
}

.col-cus-15 {
    flex: 0 0 15%;
    max-width: 15%
}

.col-cus-23 {
    flex: 0 0 4.333333%;
    max-width: 4.333333%
}

.col-cus-33 {
    flex: 0 0 3%;
    max-width: 3%
}

.col-cus-53 {
    flex: 0 0 53%;
    max-width: 53%
}

:root {
    --back-primary: #16181c;
    --back-secondary: #242832;
    --back-field: #30394c;
    --back-field-highlight: #3b4760;
    --back-field-selected:var(--back-pink-dk);
    --back-pink: #fc6399;
    --back-pink-dk: #ea377a;
    --back-text: #badefc;
    --back-text-secondary: #8f9ca7;
    --back-link: #cbd4dc;
    --back-type-completed: #43b94f;
    --back-type-mastered: #8d58af;
    --back-type-abandoned: #ea4747;
    --back-type-retired: #4b7bd4;
    --back-type-shelved: #e69b3e;
    --back-type-played: var(--back-pink-dk);
    --back-played: var(--back-pink-dk);
    --back-playing: #856fef;
    --back-wishlist: #70a9c8;
    --back-backlog: #efe36f;
    --back-field-background: #272c37;
    --back-field-border: #3b414e;
}

@media(min-width:576px) {
    .col-sm-cus-4 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-sm-cus-5 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-sm-cus-10 {
        flex: 0 0 10%;
        max-width: 10%
    }
}
@media(min-width:768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .row-cols-md-1 > * {
        flex: 0 0 100%;
        max-width: 100%
    }

    .row-cols-md-2 > * {
        flex: 0 0 50%;
        max-width: 50%
    }

    .row-cols-md-3 > * {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .row-cols-md-4 > * {
        flex: 0 0 25%;
        max-width: 25%
    }

    .row-cols-md-5 > * {
        flex: 0 0 20%;
        max-width: 20%
    }

    .row-cols-md-6 > * {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-md-auto {
        flex: 0 0 auto;
        max-width: 100%;
        width: auto
    }

    .col-md-1 {
        flex: 0 0 8.33333333%;
        max-width: 8.33333333%
    }

    .col-md-2 {
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%
    }

    .col-md-5 {
        flex: 0 0 41.66666667%;
        max-width: 41.66666667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-7 {
        flex: 0 0 58.33333333%;
        max-width: 58.33333333%
    }

    .col-md-8 {
        flex: 0 0 66.66666667%;
        max-width: 66.66666667%
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-md-10 {
        flex: 0 0 83.33333333%;
        max-width: 83.33333333%
    }

    .col-md-11 {
        flex: 0 0 91.66666667%;
        max-width: 91.66666667%
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .col-md-cus-3 {
        flex: 0 0 3%;
        max-width: 3%
    }

    .col-md-cus-5 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-md-cus-6 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-md-cus-7 {
        flex: 0 0 14.2857142857%;
        max-width: 14.2857142857%
    }

    .col-md-cus-8 {
        flex: 0 0 12.5%;
        max-width: 12.5%
    }

    .col-md-cus-10 {
        flex: 0 0 10%;
        max-width: 10%
    }

    .col-md-cus-12 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-md-cus-20 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-md-cus-21 {
        flex: 0 0 21%;
        max-width: 21%
    }

    .col-md-cus-30 {
        flex: 0 0 30%;
        max-width: 30%
    }

    .order-md-first {
        order: -1
    }

    .order-md-last {
        order: 13
    }

    .order-md-0 {
        order: 0
    }

    .order-md-1 {
        order: 1
    }

    .order-md-2 {
        order: 2
    }

    .order-md-3 {
        order: 3
    }

    .order-md-4 {
        order: 4
    }

    .order-md-5 {
        order: 5
    }

    .order-md-6 {
        order: 6
    }

    .order-md-7 {
        order: 7
    }

    .order-md-8 {
        order: 8
    }

    .order-md-9 {
        order: 9
    }

    .order-md-10 {
        order: 10
    }

    .order-md-11 {
        order: 11
    }

    .order-md-12 {
        order: 12
    }

    .offset-md-0 {
        margin-left: 0
    }

    .offset-md-1 {
        margin-left: 8.33333333%
    }

    .offset-md-2 {
        margin-left: 16.66666667%
    }

    .offset-md-3 {
        margin-left: 25%
    }

    .offset-md-4 {
        margin-left: 33.33333333%
    }

    .offset-md-5 {
        margin-left: 41.66666667%
    }

    .offset-md-6 {
        margin-left: 50%
    }

    .offset-md-7 {
        margin-left: 58.33333333%
    }

    .offset-md-8 {
        margin-left: 66.66666667%
    }

    .offset-md-9 {
        margin-left: 75%
    }

    .offset-md-10 {
        margin-left: 83.33333333%
    }

    .offset-md-11 {
        margin-left: 91.66666667%
    }
}

@media(min-width:992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .row-cols-lg-1 > * {
        flex: 0 0 100%;
        max-width: 100%
    }

    .row-cols-lg-2 > * {
        flex: 0 0 50%;
        max-width: 50%
    }

    .row-cols-lg-3 > * {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .row-cols-lg-4 > * {
        flex: 0 0 25%;
        max-width: 25%
    }

    .row-cols-lg-5 > * {
        flex: 0 0 20%;
        max-width: 20%
    }

    .row-cols-lg-6 > * {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-lg-auto {
        flex: 0 0 auto;
        max-width: 100%;
        width: auto
    }

    .col-lg-1 {
        flex: 0 0 8.33333333%;
        max-width: 8.33333333%
    }

    .col-lg-2 {
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-4 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%
    }

    .col-lg-5 {
        flex: 0 0 41.66666667%;
        max-width: 41.66666667%
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-7 {
        flex: 0 0 58.33333333%;
        max-width: 58.33333333%
    }

    .col-lg-8 {
        flex: 0 0 66.66666667%;
        max-width: 66.66666667%
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-lg-10 {
        flex: 0 0 83.33333333%;
        max-width: 83.33333333%
    }

    .col-lg-11 {
        flex: 0 0 91.66666667%;
        max-width: 91.66666667%
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .col-lg-cus-6 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-lg-cus-7 {
        flex: 0 0 14.28571%;
        max-width: 14.28571%
    }

    .col-lg-cus-8 {
        flex: 0 0 12.5%;
        max-width: 12.5%
    }

    .col-lg-cus-10 {
        flex: 0 0 10%;
        max-width: 10%
    }

    .col-lg-cus-15 {
        flex: 0 0 15%;
        max-width: 15%
    }

    .col-lg-cus-19 {
        flex: 0 0 5.333333%;
        max-width: 5.333333%
    }

    .col-lg-cus-20 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-lg-cus-21 {
        flex: 0 0 21%;
        max-width: 21%
    }

    .col-lg-cus-23 {
        flex: 0 0 23%;
        max-width: 23%
    }

    .col-lg-cus-32 {
        flex: 0 0 32%;
        max-width: 32%
    }

    .order-lg-first {
        order: -1
    }

    .order-lg-last {
        order: 13
    }

    .order-lg-0 {
        order: 0
    }

    .order-lg-1 {
        order: 1
    }

    .order-lg-2 {
        order: 2
    }

    .order-lg-3 {
        order: 3
    }

    .order-lg-4 {
        order: 4
    }

    .order-lg-5 {
        order: 5
    }

    .order-lg-6 {
        order: 6
    }

    .order-lg-7 {
        order: 7
    }

    .order-lg-8 {
        order: 8
    }

    .order-lg-9 {
        order: 9
    }

    .order-lg-10 {
        order: 10
    }

    .order-lg-11 {
        order: 11
    }

    .order-lg-12 {
        order: 12
    }

    .offset-lg-0 {
        margin-left: 0
    }

    .offset-lg-1 {
        margin-left: 8.33333333%
    }

    .offset-lg-2 {
        margin-left: 16.66666667%
    }

    .offset-lg-3 {
        margin-left: 25%
    }

    .offset-lg-4 {
        margin-left: 33.33333333%
    }

    .offset-lg-5 {
        margin-left: 41.66666667%
    }

    .offset-lg-6 {
        margin-left: 50%
    }

    .offset-lg-7 {
        margin-left: 58.33333333%
    }

    .offset-lg-8 {
        margin-left: 66.66666667%
    }

    .offset-lg-9 {
        margin-left: 75%
    }

    .offset-lg-10 {
        margin-left: 83.33333333%
    }

    .offset-lg-11 {
        margin-left: 91.66666667%
    }
}
@media(min-width:1200px) {
    .col-xl-cus-23 {
        flex: 0 0 4.333333%;
        max-width: 4.333333%
    }

    .col-xl-cus-21 {
        flex: 0 0 21%;
        max-width: 21%
    }

    .col-xl-cus-12 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-xl-cus-10 {
        flex: 0 0 10%;
        max-width: 10%
    }

    .col-xl-cus-5 {
        flex: 0 0 5%;
        max-width: 5%
    }

    .col-xl-cus-20 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-xl-cus-17 {
        flex: 0 0 17%;
        max-width: 17%
    }

    .col-xl-cus-8 {
        flex: 0 0 12.5%;
        max-width: 12.5%
    }
}

